<h4>
Hi there <%= @person.name%> and congratulations.
</h4>
<p>
This email is to confirm that the bid number <%= @bid.id%> went in your favour.
</p>
<p>
Thank you for bidding with us and enjoy your spoils!
</p>