.seller-form-all{
	margin-top: 150px;
	text-align: center;
}
.seller-form{
	display: flex;
	flex-direction: column;
	max-width: 20%;
	text-align: left;
	margin-left: 40%;
	margin-right: 40%;
}
label{
   text-align: inline-block;
   font-size: large;
   font-weight: 200;
}

input{
	border-radius: 5px;
	margin-left: 10px;
}

@media only screen and (max-width: 991px) {
	.seller-form{
		max-width: 40%;
		margin-left: 30%;
		margin-right: 30%;
	}
	}
	
	@media only screen and (max-width: 767px) {
		.seller-form{
			max-width: 40%;
			margin-left: 30%;
			margin-right: 30%;
		}
}