.seller-form-all{
	margin-top: 150px;
	text-align: center;

}
.seller-form{
	width: 75% !important;
}
label{
   text-align: inline-block;
   font-size: large;
   font-weight: 200;
}
hr{
	background-image: linear-gradient(black, gold);
	height: 5px;
}


input{
	border-radius: 5px;
	margin-left: 10px;
}

@media only screen and (min-width: 991px) {
	.seller-form{
		max-width: 45%;
	}
}