/* .jewel{
    margin-left: 50px;
    margin-top: 50px;
} */
/* hr{
    margin-left: 50px;
    margin-right: 900px;
    background-image: linear-gradient(to right, black, gold);
    height: 10px;
} */

/* .myhr{
    background-image: linear-gradient(to right, black, gold);
    height: 3px;
    margin-right: 1600px;
}
Row{
    display: flex;
}


.my-card{
    margin: 20px;
	margin-right: 10px;
}
button{
    background-color: gold;
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: solid gold;
} */