.jewel{
    margin-left: 50px;
    margin-top: 50px;
}
hr{
    margin-left: 50px;
    margin-right: 900px;
    background-image: linear-gradient(to right, black, gold);
    height: 10px;
}

#myhr{
    background-image: linear-gradient(to right, black, gold);
    height: 2px;
    margin-right: 1700px;
}