@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

.site-layout-content {
    height: auto;
    padding: 30px 40px;
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.hover-links:hover {
    color: #A4856D;
}

.top-header {
    padding: 4px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';
    background-color: #fff;
}

.top-header div span {
    margin-right: 8px;
}

.logo, h1, .divider {
    font-family: 'Averia Serif Libre';
    font-size: x-large;
    font-weight: 500;
}

.menu-fonts, .category-name {
    font-family: 'Averia Serif Libre';
    font-size: large;
    font-weight: 500;
}

.category-description {
    font-family: 'Nunito';
    transition: width 0.5s linear 1s;
}

.category:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.for-container {
    position: relative;
    padding: 0 10px;
}

.for {
    position: absolute;
    left: -22px;
    top: 4px;
    writing-mode: vertical-rl;
    transform: rotate(210deg);
    font-size: xx-small;
    color: #fff;
    font-weight: 900;
}

.hero-img {
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp"); */
    background-image: url("../../public/images/bg.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Nunito';
}

.about-text {
    background-color: rgba(255, 255, 255, 0.63); /* Black w/opacity/see-through */
    color: #fff;
    padding: 20px;
    font-family: 'Nunito';
}