@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

.site-layout-content {
    height: auto;
    padding: 30px 40px;
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.top-header {
    padding: 4px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito';
}

.top-header div span {
    margin-right: 8px;
}

.logo, h1 {
    font-family: 'Averia Serif Libre';
    font-size: x-large;
    font-weight: 500;
}

.menu-fonts {
    font-family: 'Averia Serif Libre';
    font-size: large;
    font-weight: 500;
}

.for-container {
    position: relative;
    padding: 0 10px;
}

.for {
    position: absolute;
    left: -22px;
    top: 4px;
    writing-mode: vertical-rl;
    transform: rotate(210deg);
    font-size: xx-small;
    color: #fff;
    font-weight: 900;
}

.footer {
    font-family: 'Nunito';
}