input{
    display: block;
    margin-top: 10px;
    width: 25%;
    border-radius: 5px;
    
}
.input-header{
    margin-left: 60px; 
}
form{
    margin-left: 60px;
}
.buttonny{
    margin-top: 10px;
}
